<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="welcome">MusiRec</h1>
    <div class="container">
        <h1>Create Account</h1>
        <p class="message"><%= message || " " %></p>
        <form action="/processCreateAccount" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Create Account</button>
        </form>
        <br>
        <form action="/" method="GET">
            <button type="submit">Back to Login</button>
        </form>
    </div>
</body>
</html>
