<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <h1 class="welcome">Welcome to MusiRec!</h1>
    <div class="container">
        <h1>Login</h1>
        <p class="message"><%= message || "" %></p>
        <form action="/processLogin" method="POST" autocomplete="off">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <br>
        <form action="/createAccount" method="GET">
            <button type="submit">Create Account</button>
        </form>
    </div>
</body>
</html>


