<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Log Out</title>
</head>
<body>
    <h1 class="welcome">MusiRec</h1>
    <div class="container">
        <h2>You have been logged out.</h2>
        <form action="/" method="GET">
            <button type="submit">Back to Login</button>
        </form>
    </div>
</body>
</html>
